/* <3) შექმენით ერთი დივ რომელსაც მიანიჭებთ flex  შემდეგ მასში კიდევ შეიტანეთ ბევრი დივი გამოიყენეთ ყველა property რომელიც დღეს ისწავლეთ flex direction justify content align items align content  */
.div1{
    background:green;
    display: flex;
    flex-direction: column-reverse;
    flex-direction: column;
    flex-direction: row;
    flex-direction: row-reverse;
    justify-content: baseline;
    justify-content: center;
    justify-content: end;
    justify-content: start;
    justify-content: space-around;
    justify-content: safe;
    align-items: baseline;
    align-items: center;
    align-items: end;
    align-items: start;
    align-content: baseline;
    align-content: center;
    align-content: end;
    align-content: start;
}

.div2{
    background-color: blue;
}